<%- include('partials/header') -%>
<%posts.forEach(function(post){%>
<%  if((post.postTitle)==postName){%>
    <h1><%=postName%></h1>
    <p><%=post.postText%></p>
  <%}%>

<%});%>


<%- include('partials/footer') -%>
